{% extends "../layouts/base.twig" %}

{% block style %}
    <link rel="stylesheet" href="./assets/css/register.css" />
{% endblock %}

{% block title %}
    <title>Accueil - Bookstore</title>
{% endblock %}

{% block main %}
   <main>
        <section>
            <h2>Bienvenue {{ user.firstName }} {{ user.lastName }}</h2>
            <div>
                <p>Vous êtes maintenant connecté!</p>
                <p>Email: {{ user.mail }}</p>
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Actions</th>
                    </tr>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>
                                <a href="/deleteBook/{{book.id}}">Supprimer</a>
                                <a href="/updateBook/{{book.id}}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>
{% endblock %}